
	
			<form ng-submit="ctrl.submit()" method="post" style="margin-left: 25%;" name="myForm">		
			<h2 style="margin-bottom: 0em;">Register Here</h2>
			<section class="content bgcolor-1" style="margin-top: -3em;">
					<span class="input input--nao" style="margin-top: 0em;">
					<input class="input__field input__field--nao" type="text" id="userName" name="userName" ng-model="ctrl.user.userName" />
					<label class="input__label input__label--nao" for="userName">
						<span class="input__label-content input__label-content--nao">Username</span>
					</label>
					<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</span><br>

					<span class="input input--nao" style="margin-top: -1em;">
					<input class="input__field input__field--nao " type="password" id="passWord" name="passWord" ng-model="ctrl.user.passWord" required  ng-minlength="8"/>
					<label class="input__label input__label--nao" for="passWord">
						<span class="input__label-content input__label-content--nao password">Password</span>
					</label>
					<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</span><br>
					<span class="input input--nao " style="margin-top: -1em;">
					<input class="input__field input__field--nao" type="password" id="confirmPass" name="confirmPass" ng-model="ctrl.user.confirmPass" onkeyup="checkPass(); return false;"/>					
					<label class="input__label input__label--nao" for="confirmPass">
						<span class="input__label-content input__label-content--nao">Confirm Password</span>
					</label>
					<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</span><span id="confirmMessage" class="confirmMessage"></span><br>
				<span class="input input--nao" style="margin-top: -1em;">
					<input class="input__field input__field--nao" type="email" id="emailId" name="emailId" ng-model="ctrl.user.emailId"/>
					<label class="input__label input__label--nao" for="emailId">
						<span class="input__label-content input__label-content--nao">Email</span>
					</label>
					<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</span><br>
				<span class="input input--nao" style="margin-top: -1em;">
					<input class="input__field input__field--nao" type="text" id="phoneNo" name="phoneNo" ng-model="ctrl.user.phoneNo"/>
					<label class="input__label input__label--nao" for="phoneNo">
						<span class="input__label-content input__label-content--nao">Phone Number</span>
					</label>
					<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</span><br>
				<span class="input input--nao" style="margin-top: -1em;">
					<input class="input__field input__field--nao" type="text" id="address" name="address" ng-model="ctrl.user.address"/>
					<label class="input__label input__label--nao" for="address">
						<span class="input__label-content input__label-content--nao">Address</span>
					</label>
					<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</span><br>
					<span class="input input--nao" style="margin-top: -1em;">
					<input class="input__field input__field--nao" type="text" id="zipCode" name="zipCode" ng-model="ctrl.user.zipCode"/>
					<label class="input__label input__label--nao" for="zipCode">
						<span class="input__label-content input__label-content--nao">Zip Code</span>
					</label>
					<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
					</svg>
				</span><br>
				<span class="input input--nao" style="margin-top: 0em;" >
					<select name="role" ng-model="ctrl.user.role" style="outline: none; border-left: none; border-right: none; border-top: none; width: 100%;">
					<option value="">Select your Role</option>
						<option value="student">Student</option>
						<option value="alumini">Alumini</option>
						<option value="employee">Employee</option>				
					</select>
				</span><br>
				<div class="row">
				<span class="input input--nao" style="margin-top: -1em; margin-left: 2em;">
				<a href="#login"> Existing User? </a>				
				<input type="submit" name="submit" value="Register" class="btn btn-success" style="margin-left: 10em;" ng-disabled="myForm.$invalid">
				  <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
				</span>
				
				</div>
			</section>

					
						

	</form>
	
			<!-- /container -->
		<script src="js/classie.js"></script>
		<script>
			(function() {
				// trim polyfill : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim
				if (!String.prototype.trim) {
					(function() {
						// Make sure we trim BOM and NBSP
						var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
						String.prototype.trim = function() {
							return this.replace(rtrim, '');
						};
					})();
				}

				[].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
					// in case the input is already filled..
					if( inputEl.value.trim() !== '' ) {
						classie.add( inputEl.parentNode, 'input--filled' );
					}

					// events:
					inputEl.addEventListener( 'focus', onInputFocus );
					inputEl.addEventListener( 'blur', onInputBlur );
				} );

				function onInputFocus( ev ) {
					classie.add( ev.target.parentNode, 'input--filled' );
				}

				function onInputBlur( ev ) {
					if( ev.target.value.trim() === '' ) {
						classie.remove( ev.target.parentNode, 'input--filled' );
					}
				}
			})();
		</script>
	